body {
	padding: 0;
	margin: 0;
	background-color: #a4c2f4;
}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary {display: block;}
* {
	text-decoration: none;
}
header {
	border-bottom: 1px solid black;
	height: 65px;
        margin-bottom: 15px;
        padding: 3px;
	background-color: #f3f3f3;
}
.logo-box {
	margin: 0 5px;
	float: left;
}
#logo {
	width: 50px;
	height: 50px;
	margin: 0;
	margin-top: 2px;
}
#title {
	width: 200px;
	color: #000;
	font-size: 32px;
	margin: auto;
}
.user{
	margin: 13px 5px;
	float: right;
}
#log-in {
	border: 1px solid black;
	border-radius: 3px;
	width: 60px;
	height: 30px;
}
#log-in p {
	margin: 5px 0;
	padding: 0;
	text-align: center;
	color: #000;
}
#log-in:hover {
	background-color: #00F;
}
#info {
	margin: 0 auto;
	margin-top: 5px;
	background-color: #ffffff;
}
table, tr {
	border: 1px solid black;
	border-collapse: collapse;
        background-color: #fff;
        
}

th,td {
	border: 1px solid black;
	border-bottom: 2px solid black;
	border-collapse: collapse;
	width: 130px;
        background-color: #fff;
}

.bodycontainer { 
        max-height: 450px; 
        width: 100%; 
        margin: 0; 
        overflow-y: auto; 
}

input {
    background-color: #fff;
    color: #000;
    width: 100px;
    float: left;
    margin-top: 100px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}